@import "loading";

$bg: #303030;
$text: #222;
$primary: #212121;

html {
  background: $bg;
  overflow: hidden;
}

.PriceTableRow {
  &:hover {
    background: #474444 !important;
  }

  &.Selected {
    background: $primary !important;
  }
}

.Wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Container {
  display: grid;
  grid-template-columns: 400px auto;
  height: 100%;

  &.Expanded {
    grid-template-columns: auto;
  }

  .Sidebar {
    border-right: 1px solid #515151;
    height: 100%;
    display: grid;
    grid-template-areas: "header"
                         "search"
                         "items"
                         "footer";
    grid-template-rows: auto auto 1fr auto;

    .Header {
      padding-left: 8px;
      padding-top: 8px;
      grid-area: header;
      display: flex;

      .Logo {
        text-align: center;
        font-size: 18px;
        padding-left: 8px;
        padding-top: 4px;
      }
    }

    .Footer {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      width: 100%;

      & > * {
        flex-grow: 1;
        text-align: center;
        padding: 4px;
        font-size: 16px;
      }
    }
    .SearchBarContainer {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 10px;
      box-sizing: border-box;
      grid-area: search;

      .Searchbar {
        height: 100%;

      }  
    }

    .ItemsContainer {
      grid-area: items;
      overflow: hidden;
    }

    .SidebarItem {
      display: flex;
      flex-direction: row;
      color: $text;
      cursor: pointer;
      
      .SidebarItemImage {
        width: 50px;
      }

      &.Active {
        background: black;
        color: white;
      }
    }
  }
  
  .Content {
    display: inline-flex;
    flex-direction: column;
    min-width: 100%;
    overflow: hidden;

    &.Expanded {
      display: none;
    }

    .ChartContainer {
      flex-basis: 0px;
      flex-grow: 1;
      max-height: 100%;
      margin: 50px;
    }

    .ItemInfo {
      display: grid;
      grid-template-areas: "pic name"
                           "pic stats";
      grid-template-rows: auto 1fr;
      grid-template-columns: auto 1fr;

      
      .LargeItemImage {
        width: 250px;
        height: 250px;
        grid-area: pic;
      }
  
      .LargeItemName {
        font-size: 26px;
        grid-area: name;
        color: $text;
      }

      .Statistics {
        grid-area: stats;
        font-size: 18px;
        color: $text;

      }
    }

     
  }
}

